.App {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.flex-it {
  display: flex;
  justify-content: center;
}

.filter-container {
  margin-top: 40px;
  padding: 10px;
  min-width: 20%;
  border: 1px solid #057fd0;
  border-radius: 10px;
  font-family: 'Gochi Hand', cursive;
}

.filter-text {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}

.filter-text:hover {
  background-color: #84bbf3;
  cursor: pointer;
}

.no-todos-text {
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
  text-align: center;
}

.input-todo {
  border: 0px solid white;
  border-bottom: 1px solid #057fd0;
  width: 50%;
  height: 50px;
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
  letter-spacing: 5px;
  padding: 5px;
}

.select-category {
  border: 0px solid white;
  border-bottom: 1px solid #057fd0;
  background-color: white;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 5px;
}

.select-todo{
  border: 0px solid white;
  background-color: white;
  border-bottom: 1px solid #057fd0;
  border-radius: 0px;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 5px;
}

.todos-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  min-width: 60%;
}

.todo-text {
  font-family: 'Gochi Hand', cursive;
  font-size: 50px;
}

.no-category-text {
  font-family: 'Gochi Hand', cursive;
  font-size: 45px;
}

.single-todo-button {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background-color:white;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:black;
  font-family: 'Gochi Hand', cursive;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  margin-left: 30px;
  height: 40px;
}
.single-todo-button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.single-todo-button:active {
	position:relative;
	top:1px;
}

.category-text {
  font-style: italic;
  color: #84bbf3;
}

.button-todo{
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  letter-spacing: 5px;
}

.button-todo {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: white;
  border: 0px solid white;
  border-right:1px solid #057fd0;
	border-bottom:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -2px 0px #019ad2;
}
.button-todo:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.button-todo:active {
	position:relative;
	top:1px;
}
